body{
    font-family: Arial, sans-serif;
    background-color: #ade3fc;
    text-align: center;
    margin-top: 60px;
}

h1{
    color: #254472;
    font-size: 50px;
}

p{
    font-size: 22px;
    color: #444;
}

textarea{
    width: 500px;
    height: 120px;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid #0167ff;
}

button{
    margin-top:20px;
    padding:15px 35px;
    font-size:18px;
    background-color:#091d3a;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

button:hover{
    background-color:#0a9487;
}