body{
    font-family: Arial, sans-serif;
    background-color: #ade3fc;
    text-align: center;
    margin-top: 60px;
}

h1{
    color: #0f172a;
    font-size: 42px;
}

p{
    font-size: 18px;
    color: #475569;
}

textarea{
    color: #1e293b;
    width: 500px;
    height: 120px;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid #2563eb;
}

button{
    margin-top:20px;
    padding:15px 35px;
    font-size:18px;
    background-color:#0f172a;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

button:hover{
    background-color:#2563eb;
}